*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #466bf3;
  --shade-blue-color: #ECF1FE;;
  --paragraph-color: #9C9C9C;
  --heading-color: #232631;
  --button-background-color: #ECF1FE;
  --stroke-color: #E9ECEF;
  --danger-color: #FF4E4E;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #F4F4F4;
}

.container-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}
.container{
  max-width: 1440px;
  padding: 0 20px ;
}

@media screen and (min-width: 768px){
  .container{
    padding: 0 50px;
  }
}
@media screen and (min-width: 1096px){
  .container{
    padding: 0 100px;
  }
}

.container-wrapper nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;

}

.hamburger div{
  width: 24px;
  height: 3px;
  background-color: var(--primary-color);
  margin: 5px 0;
  transition: all 0.3s ease;
}

nav h1{
  font-size: 24px;
  font-weight: 600;
  color: var(--primary-color);
}


@media screen and (max-width: 768px){
  .nav-item{
    display: none;
    position: absolute;
    width: 100%;
    top: 66px;
    left: -1000px;
    right: 0;
    background-color: #ffffff;
    padding: 32px;
    gap: 24px;
  }
  
  .show{
    display: grid;
    left: 0;
  }
  
  #hambugerIcon{
    display: block;
  }
}

@media screen and (min-width: 768px){
  .nav-item{
    display: flex;
    gap: 30px
  }
  #hamburgerIcon{
    display: none;
  }
}

.nav-item a{
  color: #9C9C9C;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}
.nav-item a:nth-child(2){
  color: var(--primary-color);
}

.nav-button{
  background-color: var(--shade-blue-color);
  border: none;
  padding: 12px 24px;
  border-radius: 12px;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 500;
}

#container-content{
  padding: 48px 0 ;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.heading-page{
  display: grid;
  gap: 12px;
}

.heading-page p {
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-color);
}

.heading-page h1{
  font-size: 32px;
  font-weight: 700 ;
  color: var(--heading-color);
}

#category-product-button{
  display: flex;
  gap: 12px;
  overflow-x: scroll;
}

#category-product-button button{
  padding: 12px;
  background: none;
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  color: var(--paragraph-color);
}

#category-product-button button:nth-child(1){
  color: var(--primary-color);
  background: var(--shade-blue-color);
  border: 1px solid var(--primary-color);
}

#product-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
}

@media screen and (min-width: 768px){
  #product-list{
    gap: 44px;
  }
}

.card{
  display: grid;
  gap: 24px;
  border-radius: 24px;
  padding: 24px;
  background-color: #ffffff;
  width: 336px;
}

@media screen and (min-width: 645px){
  .card{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }
}


.card-content{
  display: grid;
  gap: 16px;
}

.card-content img{
  width: 100%;
  border: 1px solid var(--stroke-color);
  border-radius: 24px;
  max-width: 336px;
  height: 280px;
}

.card-info-wrapper{
  display: grid;
  gap: 12px;
}

.card-category{
  display: flex;
  gap: 6px;
  align-items: center;
}

.card-category button{
  padding: 5px 16px;
  background: var(--button-background-color);
  border: none;
  border-radius: 12px;
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 600;
}

.card-info{
  display: grid;
  gap: 4px;
}

.card-info h1{
  font-size: 24px;
  color: var(--heading-color);
  font-weight: 600;
}

.card-info p{
  font-size: 20px;
  font-weight: 500;
  color: var(--danger-color);
}

.card-footer{
  display: grid;

}

@media screen and (min-width: 768px){
  .card-footer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}



.card-footer button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 14px 24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 12px;
}

.card-footer button:nth-child(1){
  background-color: var(--primary-color);
  border: none;
  color: #ffffff;
}
.card-footer button:nth-child(2){
  background: none;
  border: none;
  color: var(--primary-color);
}

