* {
    font-family: Poppins;

}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #3258E8;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.user-section {
    margin-bottom: 20px;
}

.user-section h2 {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #3258E8;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #1E3A8A;
}

footer {
    background-color: #3258E8;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.registration-section {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    color: #333;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}


a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}
input[type="file"]{
    margin-bottom: 30px;
}

#form-Delete {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}



label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="file"] {
    margin-bottom: 10px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    text-decoration: underline;
    margin-right: 10px;
}

a:last-child {
    margin-right: 0;
}

p {
    display: inline;
    margin-left: 10px;
}