body {
  background-color: #f0f0f0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

nav {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {   
  flex-grow: 1;
  text-align: center;
}

nav ul li.left {  
  text-align: left;
}

nav ul li.right {
  text-align: right;
}

nav ul li a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #bebebe;
}

nav ul li a:hover {
  color: #0099ff;
}

nav ul li.left a.logo {
  margin-left: 150px;
  font-size: larger;
  font-weight: bolder;
  color: #3258E8;
}

nav ul li.right a.keranjang {
  position: relative;
  background-color: rgba(82, 215, 255, 0.123);
  margin-right: 150px;
  color: #3258E8;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 5px;
  display: inline-block;
}

.keranjang-icon {
  position: absolute;
  top: 50%;
  right: -px;
  transform: translateY(-50%);
  width: 20px;
}

.judul {
  padding-left: 162px;
  padding-top: 20px;
}

.judul h1 {
  font-weight: bolder;
}

.judul h4 {
  color: #3258E8;
}

.Type {
  padding-left: 162px;
  padding-top: 17x;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.Type h5 {
  margin: 0;
  padding: 19px 20px;
  background-color: #325ae800;
  color: #616161;
  border-radius: 14px;
  border: 1px solid #acacac21;
}

.Type h5:first-child {
  margin: 0;
  padding: 19px 20px;
  height: fit-content;
  background-color: #60c5ff11;
  color: #3258E8;
  border-radius: 14px;
  border: 1px solid #3258E8;
}

.product-container {
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(410px, 500px));
  grid-gap: 50px;
}

.product-box {
  background-color: #ffffff;
  padding: 40px 30px;
  border-radius: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.11);
  display: flex;
  flex-direction: column;
  position: relative;
}

.product-box img.BintangRating {
  position: absolute;
  width: 90px;
  top: 317px;
  right: 0px;
  margin-right: 199px;
  border: wheat;
}

.product-box img {
  width: 100%;
  border-radius: 30px;
  border: 3px solid #ececec;
}

.product-box .jenis {
  background-color: #8ecbfd42;
  color: #325ae8;
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 20px;
  width: fit-content;
  position: relative;
}

.product-box h2,
.product-box h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.product-box .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.product-box .buttons a {
  padding: 15px 30px;
  border-radius: 8px;
  color: #3258E8;
  text-decoration: none;
}

.product-box .buttons a.buy-now {
  background-color: #325ae8;
  color: white;
}

.harga {
  color: red;
}