<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POST</title>
    <link rel="stylesheet" href="./css/style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet"> 
</head>
<body>   
    <div class="container-wrapper">
        <div class="container">
            <nav>
                <a class="logo">TOKOPEDEI <img src="./Assets/logo.png" alt="Logo E-Commerce Tokopedei"> </a>
                <input type="text" class="search-bar" placeholder="Cari di Tokopedei">
                <div class="image-container">
                    <a href="{% url 'html:pageGetAndDelete' %}">
                        <img class="nav-logo" src="./Assets/home.png" alt="Button Home" href="{% url 'html:pageGetAndDelete' %}">
                    </a>
                    <a href="{% url 'html:pagePOST' %}">
                        <img class="nav-logo" src="./Assets/upload-big-arrow.png" alt="Button Upload">
                    </a>
                    <a href="{% url 'html:pagePUT' %}">
                        <img class="nav-logo" src="./Assets/refresh.png" alt="Button Update">
                    </a>
                </div>
            </nav>
        </div>
    </div>
    <div class="container-wrapper">
        <div class="category-container">
            <div class="heading-page">
                <a class="heading-page-text">Input Produk Baru</a>
            </div>
        </div>
    </div>
    <div class="container-wrapper">
        <div class="input-container">
            <form id="product-form">
                <input class="name-input" id="productName" type="text" placeholder="Masukan nama produk" required>
                <div class="container-input">
                    <input class="price-input" id="productPrice" type="number" placeholder="Masukan harga produk" required>
                    <input class="stock-input" id="productStock" type="number" placeholder="Masukan stok produk" required>
                </div>
                <div class="container-input">
                    <textarea class="description-input" id="productDescription" placeholder="Masukan deskripsi produk" required></textarea>
                    <label for="image-input" id="drop-area">
                        <input class="image-input" type="file" id="image-input" accept="image/*" id="image-input" hidden required> 
                        <div id="img-view">
                            <img class="logo-upload" src="./Assets\Upload.png" alt="Logo upload">
                            <div>
                                <a class="logo-upload-text">Seret dan lepaskan gambar di sini</a><br>
                                <a class="logo-upload-text"> untuk unggah gambar dari desktop!</a>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="container-btn">
                    <button type="reset" class="cancel-btn" type="button">CANCEL</button>
                    <button type="submit" class="insert-btn" id="submit-btn">INSERT</button>
                </div>
            </form>
        </div>
    </div>
</body>
<script>
    const dropArea = document.getElementById("drop-area");
    const imageinput = document.getElementById("image-input");
    const imgview = document.getElementById("img-view");
    const form = document.getElementById("product-form");

    imageinput.addEventListener("change", uploadImage);

    function uploadImage() {
        let imgLink = URL.createObjectURL(imageinput.files[0]);
        imgview.style.backgroundImage = `url(${imgLink})`;
        imgview.textContent = "";
        imgview.style.border = 0;
    }

    document.addEventListener("DOMContentLoaded", function () {
        form.addEventListener("submit", function (event) {
            event.preventDefault();

            const productName = document.getElementById("productName").value;
            const productDescription = document.getElementById("productDescription").value;
            const productPrice = document.getElementById("productPrice").value;
            const productStock = document.getElementById("productStock").value;
            const productImage = document.getElementById("image-input").files[0];

            const formData = new FormData();
            formData.append('nama', productName);
            formData.append('deskripsi', productDescription);
            formData.append('harga', productPrice);
            formData.append('stok', productStock);
            formData.append('image', productImage);

            fetch("https://3c58-2001-448a-50c2-4c22-c1fb-a0a2-5f87-d2fd.ngrok-free.app/produk", {
                mode: "cors",
                method: "POST",
                headers: {
                        "ngrok-skip-browser-warning": "true",
                    },
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                console.log("Product uploaded successfully:", data);
            })
            .catch(error => {
                console.error("Error uploading product:", error);
            });
        });
    });
</script>
</html>