/* admin-movies */
.section__wrapper {
	padding: 1rem;
}

.section__wrapper > .data__info > h5 {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.add-button {
	background-color: transparent;
	cursor: pointer;
}

.add-button:hover {
	background-color: var(--light);
}

.data__info {
	display: flex;
	justify-content: space-between;
}

.edit-button {
	background-color: var(--warning);
	cursor: pointer;
	text-wrap: nowrap;
	width: 100%;
	padding: 0.625rem 0;
	color: white;
	font-weight: 700;
	font-size: 0.875rem;
}

.delete-button {
	background-color: var(--danger);
	cursor: pointer;
	text-wrap: nowrap;
	width: 100%;
	padding: 0.625rem 0;
	color: white;
	font-weight: 700;
	font-size: 0.875rem;
}

.edit-button:hover {
	background-color: var(--warning-darker);
}

.delete-button:hover {
	background-color: var(--danger-darker);
}

.section__wrapper {
	overflow-x: auto;
}

.modal {
	display: none; /* Hidden initially */
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--dark);
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	width: 80vw;
	z-index: 100; /* Ensure it's above other content */
}

.modal > *:not(:last-child) {
	margin-bottom: 0.625rem;
}

.modal__header {
	border-bottom: 1px solid var(--light);
	padding-bottom: 0.625rem;
}

.modal__close {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 20px;
	cursor: pointer;
}

.overlay {
	display: none; /* Hidden initially */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 99; /* Below the modal */
}

.show-modal {
	display: block;
}

.add__form {
	display: flex;
	flex-direction: column;
}

.add__form > *:not(:last-child) {
	margin-bottom: 0.625rem;
}

.form__input {
	color-scheme: dark;
	width: 100%;
	border: 1px solid var(--light);
	border-radius: 0.375rem;
	padding: 0.8rem 1rem;
	background-color: transparent;
	color: white;
	outline: none;
	font-size: 1rem;
}

.form__input::placeholder {
	color: var(--lighter);
}

.form__add {
	background-color: var(--green);
	font-weight: 500;
	cursor: pointer;
	height: 2.5rem;
	margin-top: 1rem;
	font-size: 1rem;
}

.data__wrapper {
	display: grid;
	gap: 1.25rem;
}

.movie__wrapper > *:not(:last-child) {
	margin-bottom: 0.625rem;
}

.movie__img {
	position: relative;
	height: 20rem;
	width: 100%;
}

.movie__img::after {
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	inset: 0;
	background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.movie__img > img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 0.375rem;
}

.movie__title {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 20;
	margin: 1rem;
	font-size: 1rem;
	max-width: 13.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.buttons__wrapper {
	display: grid;
	gap: 0.625rem;
}

@media screen and (min-width: 640px) {
	.data__wrapper {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media screen and (min-width: 768px) {
	.modal {
		width: 50vw;
	}

	.edit-button {
		font-size: 1rem;
	}

	.delete-button {
		font-size: 1rem;
	}

	.buttons__wrapper {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.data__wrapper {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}

/* global */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

:root {
	--green: #00e701;
	--green-darker: #00bf00;
	--lighter: #6e7e86;
	--light: #474f54;
	--dark: #24272c;
	--darker: #191b1f;
	--darkest: #0b0e0f;
	--red: rgb(239 68 68);
	--danger: rgb(239 68 68);
	--danger-darker: rgb(185 28 28);
	--warning: rgb(234 179 8);
	--warning-darker: rgb(161 98 7);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	font-family: "Roboto", "sans-serif";
	color: white;
	background-color: var(--darkest);
}

header {
	background-color: var(--dark);
	height: 5rem;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 50;
}

.lucide.lucide-menu,
.lucide.lucide-chevron-left,
.lucide.lucide-chevron-right,
.lucide.lucide-plus {
	color: var(--green);
}

.lucide.lucide-x {
	color: var(--red);
}

.menu {
	display: block;
}

.dropdown {
	position: absolute;
	right: 0;
	display: none;
}

.dropdown__content {
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 0.375rem;
	z-index: 5;
	width: 100vw;
	padding: 1rem;
	display: flex;
	gap: 0.625rem;
}

.dropdown__content > button {
	width: 100%;
	padding: 0.625rem 1.5rem;
}

.hidden {
	display: none;
}

.show-dropdown {
	display: block;
}

.nav__link {
	color: var(--darkest);
	display: none;
	text-decoration: none;
	font-size: 1rem;
	line-height: 1.5rem;
}

.btn {
	padding: 0.375rem 1.25rem;
	border: none;
	border-radius: 0.375rem;
	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

.btn-primary {
	background-color: var(--green);
	color: var(--darkest);
	font-weight: 700;
}

.btn-primary:hover {
	background-color: var(--green-darker);
}

.btn-secondary {
	background-color: transparent;
	color: white;
	font-weight: 700;
}

.btn-secondary:hover {
	background-color: var(--light);
}

.header__container {
	margin-left: auto;
	margin-right: auto;
	max-width: 72rem;
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: space-between;
}

.header__left {
	padding: 1rem;
}

.header__logo {
	text-decoration: none;
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 1.75rem;
	color: white;
}

.header__logo > span {
	color: var(--green);
}

.header__right {
	padding: 1rem;
}

.header__nav {
	display: flex;
	align-items: center;
	gap: 0.625rem;
}

.header__nav > button {
	cursor: pointer;
	padding: 0.625rem 1.5rem;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 72rem;
}

.container > *:not(:last-child) {
	margin-bottom: 0.625rem;
}

.section__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem 0rem 1rem 1rem;
}

.section__wrapper > *:not(:last-child) {
	margin-top: 0.625rem;
	margin-bottom: 0.625rem;
}

.modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--dark);
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	width: 80vw;
	z-index: 100;
}

.modal > *:not(:last-child) {
	margin-bottom: 0.625rem;
}

.modal__header {
	border-bottom: 1px solid var(--light);
	padding-bottom: 0.625rem;
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 99; /* Below the modal */
}

.show-modal {
	display: block;
}

.modal__close {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 20px;
	cursor: pointer;
}

.form {
	display: flex;
	flex-direction: column;
}

.form > *:not(:last-child) {
	margin-bottom: 0.625rem;
}

.form__input {
	color-scheme: dark;
	width: 100%;
	border: 1px solid var(--light);
	border-radius: 0.375rem;
	padding: 0.8rem 1rem;
	background-color: transparent;
	color: white;
	outline: none;
	font-size: 1rem;
}

.form__input::placeholder {
	color: var(--lighter);
}

.form__submit {
	background-color: var(--green);
	font-weight: 500;
	cursor: pointer;
	height: 2.5rem;
	margin-top: 1rem;
	font-size: 1rem;
}

@media (min-width: 768px) {
	.header__logo {
		font-size: 1.875rem;
		line-height: 2.25rem;
	}

	.modal {
		width: 50vw;
	}

	.nav__link {
		display: block;
	}

	.menu {
		display: none;
	}

	.section__wrapper {
		padding: 1rem;
	}
}

