body {
    font-family: 'Poppins';
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
:root {
    --primary-color: #466bf3;
    --shade-blue-color: #d3dbf7;
    --inactive-gray-color: #9c9c9c;
    --title-black-color: #232631;
    --activeforeground-blue-color: #4467e9;
    --pricetag-red-color: #ff9292;
    --btnbg-ltblue-color: #ebeefd;
    --button-bluebg-color: #ecf1f3;
        }
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    margin: 0px;
    background-color: white;
    width: 100%;
}
.tokotuku{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-weight: 400;
    font-size: 16px;
    color: var(--inactive-gray-color);
}
.keranjang{
    display: flex;
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-color);
    background-color: var(--btnbg-ltblue-color);
    border-radius: 17px;
    padding: 12px 24px;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.content{
    display: flex;
    margin: 0 150px;
    flex-direction: column;
}

#cartItems{
    display: flex;
    padding: 0 0;
    flex-direction: column;
    gap: 20px;
}

.itemContainer{
    background-color: #d3dbf7;
    border-radius: 15px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    border: 0 0;
    margin: 0 0;
}
.itemDetails{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.itemname{
    display: flex;
    font-size: 21px;
    font-weight: 800;
}
.itemprice{
    display: flex;
}
.itemquant{
    display: flex;
}
.itemtotal{
    display: flex;
}
.jumlah{
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
}

.content-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.addtocart{
    display: flex;
    flex-direction: column;
    margin: 0 50px;
    gap: 15px;
}
.additem{
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    background-color: white;
    border-radius: 15px;
    }