body {
    font-family: 'Poppins', sans-serif;
    display: flexbox;
    background-color: #f4f4f4;
}

.kontainer {
    display: grid;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
    width: 300px;
}

.cardbody img {
    width: 100%;
    height: auto;
}

.cardbody {
    padding: 20px;
}

.cardactions {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}
