:root {
    --primary-color: #466bf3;
    --shade-blue-color: #ECF1FE;;
    --paragraph-color: #9C9C9C;
    --heading-color: #232631;
    --button-background-color: #ECF1FE;
    --stroke-color: #E9ECEF;
    --danger-color: #FF4E4E;
    font-family: 'Poppins', sans-serif;
  }

  body{
    background-color: #F4F4F4;
    width: 100%;
  display: flex;
  justify-content: center;
  }

#product-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 24px;
  }
  
  @media screen and (min-width: 768px){
    #product-list{
      gap: 44px;
    }
  }
  
  .card{
    display: grid;
    gap: 24px;
    border-radius: 24px;
    padding: 24px;
    background-color: #ffffff;
    width: 336px;
  }
  
  @media screen and (min-width: 645px){
    .card{
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 100%;
    }
  }
  
  
  .card-content{
    display: grid;
    gap: 16px;
  }
  
  .card-content img{
    width: 100%;
    border: 1px solid var(--stroke-color);
    border-radius: 24px;
    max-width: 336px;
    height: 280px;
  }
  
  .card-info-wrapper{
    display: grid;
    gap: 12px;
  }
  
  .card-category{
    display: flex;
    gap: 6px;
    align-items: center;
  }
  
  .card-category button{
    padding: 5px 16px;
    background: var(--button-background-color);
    border: none;
    border-radius: 12px;
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 600;
  }
  
  .card-info{
    display: grid;
    gap: 4px;
  }
  
  .card-info h1{
    font-size: 24px;
    color: var(--heading-color);
    font-weight: 600;
  }
  
  .card-info p{
    font-size: 20px;
    font-weight: 500;
    color: var(--danger-color);
  }
  
  .card-footer{
    display: grid;
  
  }
  
  @media screen and (min-width: 768px){
    .card-footer{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  
  
  .card-footer button{
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 14px 24px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 12px;
  }
  
  .card-footer .btn1{
    background-color: var(--primary-color);
    border: none;
    color: #ffffff;
  }
  .card-footer .btn2{
    background: none;
    border: none;
    color: var(--primary-color);
  }