body{
    background-color: #F4F4F4;
    font-family: 'Poppins', sans-serif;
    margin: auto auto;
}

.nav {
    background-color: white;
    
}

.nav .container{
    width: auto;
    height: auto;
    display: flex;
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 14px;
    padding-bottom: 14px;
    align-items: center;
    justify-content: center;
}


.nav .brand{
    font-size: 24px;
    font-weight: 600;
    color: #466BF3;
    margin-right: auto;
}


.nav .menu{
    width: auto ;
    height: auto;
    display: flex;
    padding: 0px 325.5px 0px 325.5px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}




.nav .halaman{
    text-wrap: nowrap;
    width: 135px;
    height: 24px;
    padding-right: 30;
    font-size: 16px;
    color: #9C9C9C;
    opacity: 1;
    text-decoration: none;
}

.halaman:hover{
    color: #0066ff;
    font-weight: 700; 
}

.nav .produk{
    width: 55px;
    height: 24px;
    color: #3258E8;
    opacity: 1;
    font-weight: 400;
    text-decoration: none;
}

.produk:hover{
    color: #0066ff;
    font-weight: 700;
}


.nav .contact-us{
    width: 113px;
    height: 24px;
    font-size: 16px;
    color: #9C9C9C;
    opacity: 1;
    text-decoration: none;
}

.contact-us:hover{
    color: #0066ff;
    font-weight: 700;
    text-wrap: nowrap; 
}


.button .checkout{
    width: 166px;
    height: 48px;
    gap: 10px;
    display: flex;
    background-color: #466bf32c;
    border-radius: 12px;
    border-style: none;
    padding: 12px 24px 12px 24px;
    margin-left: auto;
    cursor: pointer;
    
}

.checkout:hover{
    background-color: white;
    border:#5f80fb;
    border-style: solid;
}

.button .keranjang{
    font-family: 'Poppins', sans-serif;
    color: #466bf3;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    align-items: center;
    justify-content: center;   
}

.button .logo{
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
}
.produk-kami .produk-kami-biru{
    text-align: left;
    margin: auto auto;
    padding-top: 48px;
    padding-left: 100px;
    padding-bottom: 12px;
    font-size: 18px;
    font-weight: 600;
    color: #466BF3;
}

.produk-kami .produk-kami-besar{
    text-align: left;
    margin: auto auto;
    padding-left:100px ;
    padding-right: 794px;
    padding-bottom: 24px;
    font-size: 36px;
    font-weight: 700;
}

.button-catalog .catalog-all{
    background-color: #F4F4F4;
    border-color: #E9ECEF;
    border-style: solid;
    border-radius: 8px;
    width: 128px;
    height: 45px;
    margin-right: 24px;
    margin-left: 100px;
    padding: 0px;
   cursor: pointer;
}

.catalog-all .all{
    font-family: 'Poppins', sans-serif;
    color: #3E5569;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.button-catalog .catalog-all:hover{
    background-color: #bacbf6 ;
}

.button-catalog .catalog-peralatan{
    background-color: #F4F4F4;
    border-color: #E9ECEF;
    border-style: solid;
    border-radius: 8px;
    width: 94px;
    height: 45px;
    margin-right: 12px;
    padding: 0px;
    cursor: pointer;
}

.catalog-peralatan .peralatan{
    font-family: 'Poppins', sans-serif;
    color: #3E5569;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.button-catalog .catalog-peralatan:hover{
    background-color: #bacbf6 ;
}


.button-catalog .catalog-obat{
    background-color: #F4F4F4;
    border-color: #E9ECEF;
    border-style: solid;
    border-radius: 8px;
    width: 120px;
    height: 45px;
    margin-right: 12px;
    padding: 0px;
    cursor: pointer;
}

.catalog-obat .obat{
    font-family: 'Poppins', sans-serif;
    color: #3E5569;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.button-catalog .catalog-obat:hover{
    background-color: #bacbf6 ;
}

.button-catalog .catalog-skincare{
    background-color: #ECF1FE;
    border-color: #0066ff;
    border-style: solid;
    border-radius: 8px;
    width: 87px;
    height: 45px;
    padding: 0px;
    margin-right: 775px;
    cursor: pointer;
}

.catalog-skincare .skincare{
    font-family: 'Poppins', sans-serif;
    color: #0D6EFD;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.primary{
    font-family: 'Poppins', sans-serif;
    background-color: #3258E8;
    border-radius: 12px;
    border-width: 0px;
    width: 168px;
    height: 48px;
    margin-left: 24px;
    margin-bottom: 24px;
    cursor: pointer;
}

.primary:hover{
    background-color: #ffffff;
    border:#3258E8;
    border-style: solid;
}

.beli-sekarang{
    width: 112px;
    height: 24px;
    padding: 12px 24px;
    text-wrap: nowrap;
    color: #F4F4F4;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.beli-sekarang:hover{
    color: #3258E8;
}

.secondary{
    font-family: 'Poppins', sans-serif;
    background-color: #ffff;
    border-radius: 12px;
    border-style: none;
    width: 168px;
    height: 48px;
    border-radius: 12px;
    margin-bottom: 24px;
    cursor: pointer;
}

.secondary:hover{
    background-color: #ffff;
    border:#3258E8;
    border-style: solid;
}

.lihat-detail{
    width: 112x;
    height: 24px;
    padding: 12px 24px;
    text-wrap: nowrap;
    color: #3258E8;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.lihat-detail:hover{
    color: #3258E8;
}

.content{
    width: 384px; height: 529px;
    margin-left:  100px;
    margin-right: 100px;
    display: grid;
    padding-top: 24px;
    padding-bottom:48px ;
}

.barang-3{
    background-color: white;
    width: 384px;
    height: 529px;
    border-radius: 24px;
}

.gambar-skincare{
    margin: 24px 24px 16px 24px
}

.barang-3 .tag-rating{
    display: flex;
    background-color: #466bf32c;
    width: 91px;
    height: 31px;
    border-radius: 12px;
    margin: 0px 0px 12px 24px;
}

.produk-skincare{
    color: #3258E8;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 16px;
    text-align: center;
    justify-content: center;
}

.barang-3 .rating{
    margin: 3.5px 116px 3.5px 6px;
}

.barang-3 .nama-barang{
    height: 70px;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 24px;
    margin-bottom: 24px;
}

.barang-3 .nama-barang .skincare{
    font-size: 24px;
    font-weight: 600;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 4px;
}

.barang-3 .nama-barang .harga{
    color: #FF4E4E;
    font-size: 20px;
    font-weight: 600;
    margin-left: 24px;
    margin-right: 126px;
    margin-bottom: 24px;
}
