@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: black;
}

body{
    background-color: #F4F4F4;

}

:root {
    --primary-color: #466bf3;
    --shade-blue-color: #ECF1FE;
    --white-color: #f5f5f5;
    /* semua warna yang dibutuhin dibikin variable disini biar enak make nya lagi */
    /* agar variable warna ini bisa dipake, kita pindah semua variable ke external css aja */
}

h1 {
    font-size: 38px;
    line-height: 64px;
    color: #222;
    font-weight: 600;
}
h2 {
    font-size: 36px;
    line-height: 54px;
    color: var(--primary-color);

    font-family: "Inter";
}
h4 {
    font-size: 16px;
    color: #222;
}
h6 {
    font-weight: 700;
    font-size: 12px;
}
p {
    font-size: 16px;
    color: #000000;
    margin: 15px 0 20px 0;
}

/* Navbar Section */

nav {
    display: flex;
    align-items: center;
    height: 96px;
    width: 100%;
    justify-content: space-between;
    padding: 30px 100px;
    background: white;
    backdrop-filter: blur(41.400001525878906px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}   

nav .logo {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 1000;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li a.active{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
}

nav ul li :hover{
    text-decoration: none;
    color: var(--primary-color);
    transition: 0.3s ease;
    
}

nav .cart {
    padding: 10px 20px;
    gap: 10px;
    background-color: var(--shade-blue-color);
    color: rgb(255, 255, 255);
    display: flex;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

nav .cart a{
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
}


/* Main Section */

.main
{
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    margin: 36px 0;
}
.main h3{
    font-size: 18px;
    line-height: 64px;
    color: var(--primary-color);
    font-weight: 600;
}
.main h2{
    font-size: 36px;
    line-height: 64px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 8px;
}

.main .menu ul{
    display: flex;
    gap: 20px;
    align-items: center;
}

.main .menu ul li{
    list-style: none;
    margin-top: 8px;
}

.main .menu ul li a{
    text-decoration: none;
    padding: 12px;
    border-radius: 8px;
    
    font-weight: 600;
    stroke: var(--primary-color);
}

.main .menu ul li a.inactive{
    text-decoration: none;
    padding: 12px;
    border-radius: 8px;
    color: #c1c1c1;
    stroke: var(--primary-color);
    cursor: default;
}
.main .menu ul li a.active{
    outline: 1px solid var(--primary-color);
    text-decoration: none;
    padding: 12px;
    background-color: var(--shade-blue-color);
    border-radius: 8px;
    stroke: var(--primary-color);
    color: var(--primary-color);
}

/* CARD SECTION */

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-top: 36px;
}

.content .card{
    background-color: white;
    padding: 20px;
    border-radius: 24px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    width: 384px;
    height: 400px auto;
    display: flex;
    flex-direction: column;
}
.content .card h3{
    font-size: 24px;
    color: #000000;
    font-weight: 600;
}
.content .card h4{
    font-size: 20px;
    color: #FF4E4E;
    font-weight: 600;
}
.content .card img{
    border-radius: 24px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

.content .card .category{
    display: flex;
    align-items: center;
    gap: 8px;
}

.content .card .category p{
    color: var(--primary-color);
    background-color: var(--shade-blue-color);
    padding: 5px 16px;
    border-radius: 12px;
}

.content .card .category img{
    width: 120px;
    height: 24px;
    box-shadow: none;
}

.content .card .action{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.content .card .action{
    display: flex;
    gap: 20px;
    align-items: center;
}
.content .card .action .btn{
    text-decoration: none;
    color: var(--primary-color);
    padding: 12px 24px;
    border-radius: 12px;
    cursor: pointer;
}

.content .card .action .btn.active{
    text-decoration: none;
    color: var(--white-color);
    padding: 12px 24px;
    border-radius: 12px;
    background-color: var(--primary-color);
}